<html ng-app="gato.steam">

<head>
    <title>Steam Achievement Tracker</title>
    <link href="/css/app.min.css" rel="stylesheet" type="text/css"></link>
</head>

<body>
    <header>
        <div class="container">
            <h1>Steam Achievement Tracker</h1>
        </div>
    </header>
    <section ng-view class="content">
    </section>
    <footer>
        <div class="container">
            <a href="http://steampowered.com" class="pull-right">Powered by Steam</a>
        </div>
    </footer>
    <script src="/js/app.min.js"></script>
</body>

</html>