<html ng-app="gato.steam">

<head>
    <title>Steam Achievement Tracker</title>
    <link href="/css/lib.css" rel="stylesheet" type="text/css"></link>
    <link href="/css/app.css" rel="stylesheet" type="text/css"></link>
</head>

<body>
    <section ng-view class="content">
    </section>
    <footer>
        <div class="container">
            <a href="http://steampowered.com" class="pull-right">Powered by Steam</a>
        </div>
    </footer>
    <script src="/js/lib.js"></script>
    <script src="/js/app.js"></script>
</body>

</html>